<!DOCTYPE html>
<html lang="en">
    <head>
        <title>emily uwu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
        <h1 id="tittle">the EMILY!!!!!!1!</h1>
        <nav>
            <ul>
                <li><a href="kvoguhrjg.jpeg">leg</a></li>
                <li><a href="B8A2BD1A-3D0A-43F0-9319-FCA4CBB705FA.png">picrrew :3</a></li>
                <li><a href="https://tips.fbi.gov">special picture(for __SQUIRTLE ONLY)</a></li>
            </ul>
        </nav>
        <h2>faq</h2>
        <h2>who dis</h2>
        <p>
            this emily hi
        </p><br>
        <h3>im emily :D
    </body>
</html>
